@import "tailwindcss";

@theme {
  --font-anton: "Anton", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* Lenis smooth scroll adjustments */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
